
<table class="table table-striped mat-elevation-z8 lessons-table" *ngIf="substitutes" [mfData]="substitutes" #mf="mfDataTable" [mfRowsOnPage]="5" >
    <thead>
      <tr>
        <th class="text-nowrapCustom col-sm-3">
          <mfDefaultSorter  by="name">name</mfDefaultSorter>
        </th>
        <th class="text-nowrapCustom col-sm-3">
          <mfDefaultSorter by="description">Description</mfDefaultSorter>
        </th>
        <th  class="text-nowrapCustom col-sm-3">
          <mfDefaultSorter by="volume">volume</mfDefaultSorter>
        </th>
        <th  class="text-nowrapCustom col-sm-3">
           Taste
        </th>    <th  class="text-nowrapCustom col-sm-3">
           Consumption 
         </th>  
         <th  class="text-nowrapCustom col-sm-3">
            Price
         </th>  
         <th  class="text-nowrapCustom col-sm-3">
            Overall rate
         </th>          
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data" >
        <td class="col-sm-3">{{item.name}}</td>
        <td class="col-sm-3">{{item.description}}</td>
        <td class="col-sm-3">{{item.volume}}</td>
        <td class="col-sm-3">
          <bar-rating [(rate)]="item.Rate1" [max]="10" [theme]="'horizontal'" [readOnly]="true" [showText]="true"></bar-rating>
        </td>     
        <td class="col-sm-3">
          <bar-rating [(rate)]="item.Rate2" [max]="10" [theme]="'horizontal'" [readOnly]="true" [showText]="true"></bar-rating>
        </td>     
        <td class="col-sm-3">
          <bar-rating [(rate)]="item.Rate3" [max]="10" [theme]="'horizontal'" [readOnly]="true" [showText]="true"></bar-rating>
        </td>     
        <td class="col-sm-3">
          <bar-rating [(rate)]="item.TotalRate" [max]="10"[theme]="'horizontal'" [readOnly]="true" [showText]="true"></bar-rating>
        </td>           
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
  
  <p *ngIf="substitutes?.length == 0">No substitutes for this product yet</p>
